<div>
  <h2>Quiénes Forman Parte de KLG</h2>
  <h3>
    KLG está compuesto por un equipo de profesionales dedicados y comprometidos
    que representan lo mejor en el campo de la tecnología. Descubre quiénes son
    y cómo están dando forma al futuro de nuestra empresa.
  </h3>
  <div class="container">
    <div class="about-card">
      <img [src]="profile1" alt="Martin Galara" />
      <h2>Martin Galara</h2>
      <p>Co-Founder Product Manager</p>
      <a
        href="https://www.linkedin.com/in/martingalara/  "
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon svgIcon="linkedIn_icon"></mat-icon
      ></a>
    </div>

    <div class="about-card">
      <img [src]="profile1" alt="Jose Kleiner" />
      <h2>Jose Kleiner</h2>
      <p>Co-Founder Technical Leader</p>
      <a
        href="https://www.linkedin.com/in/jose-kleiner-935143b4/"
        target="_blank"
        rel="noopener noreferrer"
        ><mat-icon svgIcon="linkedIn_icon"></mat-icon>
      </a>
    </div>

    <div class="about-card">
      <img [src]="profile1" alt="Arturo Kleiner" />
      <h2>Arturo Kleiner</h2>
      <p>Co-Founder CEO</p>
      <a
        href="https://www.linkedin.com/in/arturo-kleiner-34991b185/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon svgIcon="linkedIn_icon"></mat-icon
      ></a>
    </div>
  </div>
</div>
