<!-- clients-partners.component.html -->
<div class="clients-partners-container">
  <div class="text-section">
    <h1>Empresas que confían en KLG</h1>
  </div>
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="image1" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img [src]="image2" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
</div>
